<style>
    .footer {
        background-color: #b70bec;
        color: white;
        padding: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: #5f1b49 0px -1px 10px 0px inset; 
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
        color: #e6c9c9;
    }

    .row {
        
        justify-content: center;
    }
</style>

<footer>
    <div class="footer">
        <div class="row">
            <div class="col">
                <p>© 2023 - <a href="https://github.com/devdeepak06">Deepak Kumar</a></p>
            </div>
        </div>
    </div>
</footer>